<div class = "container">
    <div class = "form-container">
        <h1>Start your Uplift business page</h1>
        <%# <%= raise current_user.inspect %> 
        <%= render 'form' %>
    </div>
</div>
