<div class="container">
    <div class="main-page-image rounded-lg p-4 mb-4">
        <div class="flex flex-column center">
            <h1>For mates who want to help mates</h1>
            <div>
                <%= link_to 'Help a Business', businesses_path, class: "btn btn-info btn-lg my-2" %>
                <%= link_to 'Advertise Your Business', new_business_path, class: "btn btn-light btn-lg my-2" %>
            </div>
        </div>
    </div>
    <div class="about py-4">
        <h2>Why are we doing this?</h2>

        <p>Small businesses in Australia have been impacted by the bushfires from October 2019 to February 2020, which damaged many businesses and their product or means of producing goods as well as limiting or stopping tourism to areas that depend on it during the peak summer months. On top of this, the global COVID pandemic that followed shortly after further stopped the possibility of customers and tourists returning to these regions, due to lockdown requirements and the halting of international and interstate travel. The human and enviromental loss that occurred in this country due to these two events cannot be understated, and economically small businesses were not exempt, many closing or shutting down permanently if they could not digitise their business or otherwise adjust fast enough. </p>

        <p>Meanwhile Australian people have been in various levels of lockdown for almost 9 months and still to this day unable to fully return to a 'normal' way of life. This includes using our economic ability as consumers to buy goods within our community, due travel restrictions and the need to social distance. While online shopping activity has greatly increased since the start of the pandemic, it is often larger corporations who are positioned to benefit the most from these changes, not local or smaller scale business.</p>

        <p>Uplift is a marketplace application that aims to connect small businesses who have been affected by the coronavirus pandemic, other disasters such as bushfires and floods (or both), with customers who want to purchase their products but are unable to do so in person, or otherwise individuals who want to ensure that their consumer power is used towards supporting their local community through difficult and unprecedented times. </p>
    </div>

    <div class="how-it-works py-4">
        <h2>How it works</h2>
        <p>If you are a small businesses in need of support, you can login and create a business profile, and share causes you would like help with funding. If you're an excellent person who would like to help out, you can search for your favourite businesses and donate whatever cause you like, any amount you like.<h3>
    </div>

    <div class = "contact-us py-4">
        <h2>Contact us</h2>
        <p>
            7 Kelly Street<br>
            Ultimo, NSW 2037
        </p>
        <p>Phone: 1234 5678</p>
        <p>Email: 123@test.com</p>

        <%# Image here %>
    </div>
</div>

