/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR|Fredoka+One|Varela+Round&display=swap');


$logo-font: "Fredoka One", sans-serif;
$heading-font: "Source Sans Pro", sans-serif;
$body-font: "Noto Serif KR";

h1, h2, h3, h4, h5 {
  font-family: $logo-font;
}

p {
  font-family: $heading-font;
}

#logo {
  font-family: $logo-font;
}
.page-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 1200px){
    max-width: 980px; 
  }

  @media screen and (min-width: 1200px){
    max-width: 1140px;
  }

}

.main-page-image {
  display: flex;
  background-image: url("babykoala.jpg");
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
    h1 {
      font-size: 5rem;
      color: white;
      font-family: $logo-font;
    }
    p {
      color: white;
      font-family: $logo-font;
      font-size: 2rem;
    }
}

body {
  padding-bottom: 70px;
  background-color: #BFDBF7;
  
}


.center {
 text-align: center;
}

@media screen and (max-width: 629px){
  .hide-small{
    display: none;
}
}


  @media screen and (min-width: 630px){
    .hide-large{
    display: none;
  }
}

.form {
  display: flex;
  flex-direction: column;
  label {
    margin: 10px 0px;
  }
}
  .submit {
    display: block;
    width: 200px;
    margin: 10px 0px;
  }